
.bg-size-sm{padding: 10px;padding-left: 15px}
.background-color-green{background-color:#1767b3 }

.color-white{color: #ffffff;}
.color-h1{color: #ef000b}

.font-size{font-size: 12px }
.font-size-xs{font-size: 20px }
.font-size-sm{font-size: 32px }
.font-size-md{font-size: 38px }
.font-size-lg{font-size: 42px }

.title-color{color:#f4f6f7;}
.title-font{font-size: 12px}
.title-font_xs{font-size: 16px}
.title-font_sm{font-size: 18px}
.title-font_md{font-size: 20px}
.title-font_lg{font-size: 30px}

.margin-top{margin-top: 10px;}
